<h3>Detail du Rendez-Vous</h3>
<div>
    <div>
        <label><b>Nom Client</b></label> {{rendezvous.nom_client}}
          </div>
          <div>
            <label><b>prenom Client</b></label> {{rendezvous.prenom_client}}
          </div>
          <div>
            <label><b>Commentaire</b></label> {{rendezvous.commentaire}}
          </div>
          <div>
            <label><b>Date Rendezvous</b></label> {{rendezvous.date_rdv}}
            </div>

            <div>
                <label><b>telephone</b></label> {{rendezvous.numtel}}
              </div>
    </div>
    <div>
        <label><b>Etat</b></label> {{rendezvous.etat}}
      </div>
      <!--<div>
        <label><b>User</b></label>{{rendezvous.user.username}}
      </div>-->


          

